<div class="container">
    <article>
        <h2>Simple CSS application</h2>
        <h4>Welcome to my CSS angular application!</h4>
        <p>This application is made to help developer use some common CSS tools in one place. I made this application to improve my <span>Angular</span> and <span>CSS</span> skills, and also to help myself writting CSS files in the future. The tools on your left are quite simple, but I think you will find it fairly useful. I certainly hope that this tool will help you save some time, and will make you feel this time was not wasted. </p>
        <h4>The tools description</h4>
        <p>At the moment there are only three tools, but I'm planning to add new ones in the future. Here is current tools description: </p>
        <ul>
            <li><span>Shape generator</span> - this tool helps to make some more unusual shape from div than simple square or rectangle.</li>
            <li><span>Gradient generator</span> - as the name suggests, it makes a gradient of chosen colors, and rotation degree.</li>
            <li><span>Banner generator</span> - have you ever seen a simple post on facebook, with a few words and some color or gradient in the background? This is exactly what this tool is made for. It also lets you download your effects of work.</li>
        </ul>
        <h4>Technologies/tools used</h4>
        <div class="flex">
            <div class="icon" id="angular"><i class="fab fa-angular"></i></div>
            <div class="icon ts"><span class="iconify" data-icon="simple-icons:typescript" data-inline="false"></span></div>
            <div class="icon"><i class="fab fa-sass"></i></div>
            <div class="icon"><i class="fab fa-bootstrap"></i></div>
            <div class="icon"><i class="fab fa-font-awesome"></i></div>
        </div>
        <h4>Enjoy yourself <i class="fas fa-smile"></i></h4>
    </article>
</div>