<div class="container-fluid">

        <div class="method">
            <h4>Choose method:</h4>

            <ul>
                <li><a routerLink='/shape-generator/circle-shapes' routerLinkActive="active">
                    <span class="nonActive"><i class="bi bi-circle"></i></span>
                    <span class="whenActive"><i class="bi bi-circle-fill"></i></span> Circle shapes</a></li>
                <li><a routerLink='/shape-generator/triangle-shapes' routerLinkActive="active">
                    <span class="nonActive"><i class="bi bi-triangle"></i></span>
                    <span class="whenActive"><i class="bi bi-triangle-fill"></i></span> Triangle shapes</a></li>
            </ul>
        </div>

        <router-outlet></router-outlet>

</div>