@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

.container-fluid {
    max-width: 100%;
    .method {
        margin-bottom: 50px;
        h4 {
            font-size: 1.6em;
            font-weight: 600;
            color: #212121;
        }
        ul {
            display: flex;
            flex-wrap: wrap;
            li {
                display: inline-flex;
                a {
                    text-decoration: none;
                    color: #212121;
                    font-weight: 500;
                    font-size: 1em;
                    display: inline-flex;
                    padding: 0.5em 1em 0.5em 1em;
                    span {
                        padding-right: 0.5em;
                    }
                }
                .active {
                    color: #0277bd;
                }
            }
            .whenActive {
                display: none;
            }
            .nonActive {
                display: block;
            }
            .active {
                .whenActive {
                    color: #0277bd;
                    display: block;
                }
                .nonActive {
                    display: none;
                }
            }
        }
    }
}