.flexbox {
    height: 100vh;
    display: flex;
    align-content: flex-start;
    .side {
        height: 100%;
        background: yellow;
        transition: 5s;
    }
    .main {
        height: 100%;
        background: orange;
        flex-grow: 1;
        display: flex;
        .left {
            a {
                padding-left: 1.5em;
                padding-right: 1.5em;
                color: white;
            }
        }
        .router {
            flew-grow: 1;
            background: red;
            width: 100%;
        }
    }
}