.container-fluid {
    h3 {
        font-size: 1.4em;
        font-weight: 700;
        padding-top: 50px;
        margin-bottom: 10px;
        border-top: 2px dashed #bdbdbd;
        color: #212121;
    }
}