.information {
    position: fixed;
    width: 100vw;
    height: 110vh;
    left: 0;
    top: 0;
    background: rgba(238, 238, 238, 0.8);
    text-align: center;
    h3 {
        font-weight: 700;
        position: relative;
        color: #004d40;
        top: 32%;
        left: 5%;
        text-shadow: 1px 1px 3px #757575;
    }
    .hammer {
        text-align: center;
        position: relative;
        left: 5%;
        top: 35%;
        font-size: 2.8em;
        color: #212121;
        animation: rotation 1.5s infinite linear;
        animation-direction: alternate;
    }
}

.container {
    margin-top: 100px;
}

.textarea {
    width: 100%;
    margin-top: -20px;
    figure {
        text-align: center;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(-90deg);
    }
    50% {
        font-size: 3.5em;
        color: #004d40;
    }
    100% {
        transfrom: rotate(90deg);
    }
}