@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

.wrapper {
    display: flex;
    position: relative;
    .sidebar {
        position: fixed;
        height: 100%;
        width: 260px;
        color: #fafafa;
        background: linear-gradient(0deg, rgba(239,83,80,1) 0%, rgba(183,28,28,1) 100%);
        h2 {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 3em;
            text-align: center;
        }
        ul li {
            padding: 0.9em;
        }
        a {
            text-decoration: none;
            color: #fafafa;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 1.1em;
            span {
                padding: 0.9em;
            }
        }
        i {
            padding: 1em;
        }
    }
}