@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

    #sidebar {
        height: 100%;
        color: #fafafa;
        padding-top: 2vh;
        transition: 1s;
        -webkit-box-shadow: 5px 0px 35px -12px rgba(66,66,66,0.9); 
        box-shadow: 5px 0px 35px -5px rgba(66,66,66,0.9);
        background: linear-gradient(171deg, rgba(0,77,64,1) 0%, rgba(0,121,107,1) 30%, rgba(0,121,107,1) 70%, rgba(0,150,136,1));
        h2 {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            text-align: center;
            width: 85%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            transition: 1s;
            font-size: clamp(1.8rem, 2.5vw, 2.2rem);
        }
        h2.sd {
            display: none;
        }
        ul {
            li {
            width: 100%;
            padding: clamp(0.7em, 1.2vw, 1em);
            }
            a {
                text-decoration: none;
                color: #eeeeee;
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                width: 100%;
                font-size: clamp(0.9em, 2.5vw, 1.05em);
                span {
                    padding: 0.7em;
                }
                i {
                    padding: 1em;
                }
            }
            a:hover {
                color: #004d40;
                transition: all 0.5s;
            }
            .activeRoute {
                transition: all 0.3s;
                border-left: 4px solid #eeeeee;
                background:  #26a69a;
                a {
                    color: #004d40;
                }
            }
            li:hover {
                background: #26a69a;
            }
        }
    }
    .active {
        li { text-align: center; }
        span { display: none; }
    }

@media only screen and (min-width: 1200px) {
    #sidebar {
        width: 17vw;
    }
    .active {
        width: 4vw !important;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    #sidebar {
        width: 18vw;
    }
    .active {
        width: 5vw !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    #sidebar {
        width: 25vw;
    }
    .active {
        width: 8vw !important;
    }
}

@media only screen and (max-width: 768px) {
    #sidebar {
        width: 27vw;
        h2 {
            margin: 5px auto 15px auto;
        }
    }
    .active {
        width: 9vw !important;
    }
}