    <div id="sidebar" [ngClass]="{'active' : toggler }"> <!-- class="active" -->
        <h2 class="md">S<span>idebar</span>.</h2>
        <ul>
            <li class="waves-effect waves-light"><a href="#"><i class="fas fa-home fa-lg"></i><span>Home</span></a></li>
            <li class="waves-effect waves-light"><a href="#"><i class="fas fa-shapes fa-lg"></i><span>Shape generator</span></a></li>
            <li class="waves-effect waves-light"><a href="#"><i class="fas fa-palette fa-lg"></i><span>Gradient generator</span></a></li>
            <li class="waves-effect waves-light"><a href="#"><i class="fas fa-spray-can fa-lg"></i><span>Banner generator</span></a></li>
        </ul>
    </div>