    <div class="sidebar">
        <h2 class="md">Sidebar</h2>
        <h2 class="sd">S.</h2>
        <ul>
            <li class="waves-effect waves-light"><a href="#"><i class="fas fa-home fa-lg"></i><span>Home</span></a></li>
            <li class="waves-effect waves-light"><a href="#"><i class="fas fa-shapes fa-lg"></i><span>Shape generator</span></a></li>
            <li class="waves-effect waves-light"><a href="#"><i class="fas fa-palette fa-lg"></i><span>Gradient generator</span></a></li>
            <li class="waves-effect waves-light"><a href="#"><i class="fas fa-spray-can fa-lg"></i><span>Banner generator</span></a></li>
        </ul>
    </div>